body{
    height:100%;
}

img{
    aspect-ratio: auto;
}

#room-box-top > img{
    padding:5px;
}

.picture-box{
    width:calc(100% - 80px);
}

.fixed-ratio{
    aspect-ratio:1;
}

figure > p{
    font-size: 14px;
    font-family: 'Indie Flower';
    font-weight: bold;
}

#room-text{
    padding-left: 20px;
    color: black;
}

#room-box{
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: cornsilk;
    border: solid black;
    width: calc(70% - 25px);
    margin-top: 25px;
    margin-right: 25px;
    height: calc(100% - 50px);
    overflow-y: scroll;
}

#room-box-top{
    display: flex;
    flex-direction: row;
    height:50%;
}

#room-box-bottom{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.room-note{
    font-family: Architects Daughter;
    box-shadow: 0 5px 12px -2px rgba(0, 0, 0, .5);
    background-color: white;
    padding: 10px;
    margin: 10px;
    align-self: center;
    font-size: 14px;
}

#rooms-page{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#directory{
    width: calc(30% - 25px);
    margin: 25px;
    background-color: cornsilk;
    padding: 10px;
    border: solid black;
}

#directory > p{
    padding:5px;
    background-color:rgb(237, 197, 34);
    margin-bottom:10px;
}

h1, h3{
    text-align:center;
}

h1{
    margin-bottom:10px;
}

#room-name{
    font-family: Dancing Script;
    font-size: 35px;
}

#room-description{
    font-family: "Philosopher";
    font-size:15px;
}